@import url(https://fr.allfont.net/allfont.css?fonts=courier+new);
body {
    background-image: url(./font.png);
    font-family: 'Courier New', Courier, monospace !important;
}
.container {
    width: 400px;
    background-color: #0aced8;
    margin: 30px auto;
    box-shadow: 0px 0px 15px #131212;
    padding-bottom: 20px;
}
.App-header {
    font-size: 14px;
    margin: 0 65px;
    height: 65px;
    line-height: 80px;
}